/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    1. Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/
#main {

}

#header {

}

#slider {

}

#content {

}

#footer {

}